name: geop_env_windows
channels:
  - conda-forge
dependencies:
  - python=3.13.7
  - gdal=3.6.2
  - rasterio=1.4.3
  - openjpeg
  - geopandas
  - matplotlib
  - jupyter
  - git
  - leafmap
  - localtileserver